@charset "utf-8";
/* App.css */

.hideInMobile{
  display: none;
}


.App{
    padding: 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../public/img/travelPhoto_15.jpg);
    background-position: center;
}
