@charset "utf-8";
/* App.css */

.hideInMobile{
  display: none;
}


.App{
    padding-top: 40px;

    /* background-image: url(../public/img/mainbg.png
    );
    background-repeat: no-repeat;
    background-size: cover; */
}
